* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Oswald','sans-serif';
  font-size: 30px;
  background: #000000FF;
  padding: 100px;
}
.container{
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 30px;

}
.main-header{
  height: 50vh;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: gray;
}
.main-header span{
  color: #9FFFFFFF;
}

a{
  color: #5F4B8BFF;
  text-decoration: none;
}
img{
  width: 100%;
}

.card{
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  background: #D9FFFFF9;
  margin-bottom: 30px;
}

.card > div{
  padding: 30px;
}
.card:nth-child(even) img{
  order: 2;
}

.btn{
  display: inline-block;
  background: #6FFFFFFF;
  padding: 0.3px 0.5px;
  margin-top: 30px;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.8
}

@media (max-width): 600px{
  .card{
    display: block;
  }
}
